*{
    font-family: poppins;
}

.elements{
    background-color: #F57CA0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    background-color: black;
    width: 100px;
    height: 32px;
    text-align: center;
    color: white;
}

#canvas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.user-name{
    margin-top: 5px;
}

input{
   margin-top: -10px;
   width: 200px;
   height: 25px;
}

#high-score{
    font-size: 15px;
    margin-right: 15px;
}

.h-score{
    margin-top: -3px;
}